/* CUSTOM PROPS */
:root {
  --main-linear: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --blue-linear: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  --body-linear: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  --button-blue-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);

  --main-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.16);
  --cards-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.05);

  --main-linear-color: rgba(255, 111, 72, 1);
  --heading-color: #13183f;
  --main-text-color: #83869a;
  --extra-color: #fff;
  --extra-button: #f74780;
  --button-hover-color: #666ca3;
  --extra-button-hover: #ffA7c3;
  --body-color: #f2f2f2;
}

/* FONT-FACE  */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
  url("../fonts/PlusJakartaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-ExtraBold.woff2") format("woff2"),
  url("../fonts/PlusJakartaSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-ExtraBold.woff2") format("woff2"),
  url("../fonts/PlusJakartaSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--extra-color);
  color: var(--main-text-color);
  font-family: "Plus Jakarta Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: dotted 2px var(--heading-color);
  outline-offset: 3px;
}


/* CONTAINER  */
.container {
  max-width: 1150px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* BUTTON  */
.button {
  display: inline-block;
  text-transform: capitalize;
  color: var(--extra-color);
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s ease,
  color 0.3s ease, opacity 0.3s ease;
}

.button--dark {
  padding: 14px 32px;
  background-color: var(--heading-color);
  border-radius: 28px;
}

.button--dark:hover {
  background-color: var(--button-hover-color);
}

.button--dark:active {
  opacity: 0.6;
}

.button--linear {
  background-color: var(--main-linear-color);
  background-image: var(--main-linear);
}

.button--linear:hover {
  opacity: 0.5;
}

.button--linear:active {
  opacity: 0.6;
}

.button--simple {
  margin-top: auto;
  color: var(--extra-button);
}

.button--simple:hover {
  color: var(--extra-button-hover);
}

.button--simple:active {
  opacity: 0.6;
}

.button--blue {
  background-color: #4851ff;
  background-image: var(--blue-linear);
}

.button--blue:hover {
  background-image: var(--button-blue-hover);
}

.button--blue:active {
  opacity: 0.8;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
  padding-top: 259px;
  padding-bottom: 147px;
  background-image: var(--body-linear);
  background-position: calc(-22px) center;
  background-repeat: no-repeat;
}


/* TIPA-HEADER  */
.site-mark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  display: flex;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
  margin-right: 30px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 112px;
  height: 28px;
  object-fit: cover;
}

.hero-header__hero {
  display: flex;
  align-items: flex-start;
  padding-top: 63px;
}

.hero-header__content {
  width: 457px;
  padding-top: 86px;
  margin-right: 282px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-header__title {
  margin: 0;
  margin-bottom: 29px;
  color: var(--heading-color);
  font-size: 56px;
  line-height: 70px;
  font-weight: 800;
}

.hero-header__description {
  margin: 0;
  margin-bottom: 46px;
}

.hero-header__badges-wrapper {
  position: relative;
}

.hero-header__badges-wrapper-main {
  display: flex;
  position: absolute;
}

.card {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 300;
  background-color: var(--extra-color);
  border-radius: 15px;
  box-shadow: var(--main-shadow);
}


.card__title {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 800;
}

.card--hours {
  width: 193px;
  bottom: 75px;
  left: -115px;
}

.card--members {
  top: 81px;
  right: -121px;
  width: 155px;
}

.card__description {
  display: inline-block;
  margin: 0;
  font-size: 40px;
  line-height: 50px;
  color: var(--heading-color);
  font-weight: 800;
}

.hero-header__badge {
  position: absolute;
  top: -347px;
  right: -561px;
  z-index: -1;
  border-radius: 159px;
  width: 317px;
  height: 1008px;
  background-color: rgba(72, 81, 255, 1);
  background-image: var(--blue-linear);
  transform: rotate(45deg);
}

.hero-header__img {
  position: absolute;
  top: 77px;
  z-index: 100;
  width: 350px;
  height: 483px;
  border-bottom-left-radius: 159px;
  border-bottom-right-radius: 159px;
  flex-shrink: 0;
}

.hero-header__badge--blue {
  position: static;
  right: 0;
  top: 0;
  height: 560px;
  background-color: var(--main-linear-color);
  background-image: var(--main-linear);
  transform: none;
}


/* MAIN-CONTENT  */
.main-content__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -80px;
}

.main-content__card-title-wrapper {
  width: 350px;
  min-height: 322px;
  background-color: var(--main-linear-color);
  background-image: var(--main-linear);
  border-radius: 15px;
}

.main-content__card-title-main {
  margin: 0;
  padding: 64px 32px;
  color: var(--extra-color);
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
}

.main-content__card {
  margin-right: 30px;
  margin-bottom: 80px;
}

.main-content__card-inner {
  position: relative;
  width: 350px;
  min-height: 322px;
  height: 100%;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 64px;
  padding-bottom: 40px;
  background-color: var(--extra-color);
  border-radius: 15px;
  box-shadow: var(--cards-shadow);
}

.main-content__card-badge {
  position: absolute;
  left: 32px;
  top: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-linear-color);
  background-image: var(--main-linear);
  transform: translateY(-47%);
}

.main-content__card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-content__card-title {
  color: var(--heading-color);
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}

.main-content__card-description {
  margin: 0;
}


/* SITE-FOOTER  */
.site-footer  {
  background-color: var(--heading-color);
  outline-color: var(--extra-color);
}

.site-footer *:focus {
  background-color: var(--heading-color);
  outline-color: var(--extra-color);
}